.email {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--base-color);
}

.emailCard {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 1.25rem;
}

.messageDiv,
.nameDiv,
.emailDiv {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.emailCard input,
textarea {
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.buttonDiv button {
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--base-color);
}

.buttonDiv button:hover {
  background-color: var(--secondary-color);
  color: white;

  transition:color,background-color 0.3s;
}

input:focus, textarea:focus{
    outline: none;
}
