.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
  width: 100vw;
  margin-top:1000px;
}

.error-heading{
  color:var(--secondary-color);
  font-size: 3rem;
  font-weight: 600;
}

.error-message{
  font-size: 1.5rem;
}
