.home {
  width: 100%;
  display: flex;
  margin-bottom: 5rem;

  height: calc(100vh - 4rem);
}

.home-info {
  color: rgb(56, 56, 56);
  padding-left: 2.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid green; */
}

.home-info__name {
  color: var(--secondary-color);
}

.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.home-image > img {
  color: green;
}

@media screen and (max-width: 900px) {
  .home {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .home-info {
    padding: 7rem;
  }
}

@media screen and (max-width: 600px) {
  .home-info {
    padding: 6rem 4rem;
  }
}

@media screen and (max-width: 500px) {
  .home-info {
    padding: 3rem 2rem;
  }
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}
